h1 {
    color: goldenrod; 
    font-size: 60px;
}
body {
color: aliceblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("img.png");
background-size: cover;
font-weight: bold;
text-align: center;

}
p{
    
    font-size: 40px;
   
    
}
#message-el{
    font-style: italic;
}
button{
    color: #016f32;       
    width: 300px;
    background-color:goldenrod ; 
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    }